<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="point.zzicback.mapper.TodoMapper">
  <resultMap id="BaseResultMap" type="point.zzicback.model.Todo">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="DONE" jdbcType="BOOLEAN" property="done" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TITLE, DESCRIPTION, DONE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from TODO
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from TODO
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="point.zzicback.model.Todo" useGeneratedKeys="true">
    insert into TODO (TITLE, DESCRIPTION, DONE
    )
    values (#{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{done,jdbcType=BOOLEAN}
           )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="point.zzicback.model.Todo" useGeneratedKeys="true">
    insert into TODO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        TITLE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="done != null">
        DONE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="done != null">
        #{done,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="point.zzicback.model.Todo">
    update TODO
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="done != null">
        DONE = #{done,jdbcType=BOOLEAN},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="point.zzicback.model.Todo">
    update TODO
    set TITLE = #{title,jdbcType=VARCHAR},
        DESCRIPTION = #{description,jdbcType=VARCHAR},
        DONE = #{done,jdbcType=BOOLEAN}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>